@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

html, body {
  font-family: 'Old Standard TT';
  font-size: 1.6rem;

  /* background-color: rgb(90, 89, 99);
  color: rgb(167, 233, 227); */

  align-items: center;
  display: flex;
  flex-direction: column;
  width: 99vw;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
