@import 'tailwindcss';

html, body {
  font-family: 'Old Standard TT', Georgia, 'Times New Roman', Times, serif;

  /* background-color: rgb(90, 89, 99);
  color: rgb(167, 233, 227); */
}

/* Utility class for brush headline font */
.font-brush {
  font-family: 'Alex Brush', cursive;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
